<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label i18n>New name</mat-label>
    <input matInput [(ngModel)]="data.name" />
    <mat-hint *ngIf="data.existNames.includes(data.name)" i18n>
      Name already exists
    </mat-hint>
    <!-- <mat-err> is not support on this template driven form -->
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data.name"
    [disabled]="data.existNames.includes(data.name)"
    i18n
  >
    Ok
  </button>
</div>
