<h3 mat-dialog-title i18n>Create MountPoint</h3>
<form mat-dialog-content class="mount-form" [formGroup]="mountForm">
  <mat-form-field>
    <mat-label i18n>Drive</mat-label>
    <mat-select formControlName="Fs">
      <mat-option *ngFor="let fs of data.fsOptions" [value]="fs">
        {{ fs }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox *ngIf="hasCron" formControlName="autoMount" i18n>
    Auto Mount on Startup
  </mat-checkbox>
  <mat-checkbox
    *ngIf="data.osType === 'windows'"
    formControlName="AutoMountPoint"
    i18n
  >
    Automatic MountPoint
  </mat-checkbox>
  <mat-form-field *ngIf="mountForm.value.AutoMountPoint === false">
    <mat-label i18n>MountPoint</mat-label>
    <input matInput formControlName="MountPoint" />
  </mat-form-field>
  <mat-checkbox formControlName="enabled" i18n>Mount Now</mat-checkbox>
  <div class="button-advanced">
    <button mat-button (click)="showAdvancedOptions = !showAdvancedOptions">
      <mat-icon
        [fontIcon]="showAdvancedOptions ? 'expand_less' : 'expand_more'"
      ></mat-icon>
      <ng-container *ngIf="showAdvancedOptions; else showAdvanced" i18n>
        Hide Advanced Options
      </ng-container>
      <ng-template #showAdvanced i18n> Show Advanced Options </ng-template>
    </button>
  </div>
  <ng-container *ngIf="showAdvancedOptions">
    <mat-checkbox formControlName="readonly" i18n>
      Mount as Readonly Drive
    </mat-checkbox>
    <mat-checkbox
      *ngIf="data.osType === 'windows'"
      formControlName="windowsNetworkMode"
      i18n
    >
      Mount as Windows Network Drive
    </mat-checkbox>
    <mat-form-field>
      <mat-label i18n>Cache Mode</mat-label>
      <mat-select formControlName="vfsCacheMode">
        <mat-option value="off" i18n> Off </mat-option>
        <mat-option value="minimal" i18n>
          Minimal (Only opened files are cached)
        </mat-option>
        <mat-option value="write" i18n>
          Write (All non-readonly files are cached)
        </mat-option>
        <mat-option value="full" i18n> Full </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="data.osType !== 'windows'">
      <mat-label i18n>File Permissions</mat-label>
      <input matInput formControlName="filePerms" />
    </mat-form-field>
    <mat-form-field *ngIf="data.osType !== 'windows'">
      <mat-label i18n>Directory Permissions</mat-label>
      <input matInput formControlName="dirPerms" />
    </mat-form-field>
    <mat-checkbox formControlName="noModTime" i18n>
      Skip modification time (can speed things up)
    </mat-checkbox>
  </ng-container>
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <button
    mat-button
    [disabled]="!mountForm.valid"
    [mat-dialog-close]="mountForm.value"
    type="submit"
    i18n
  >
    Create
  </button>
</div>
