<h3 mat-dialog-title i18n>Enter Password</h3>
<form
  mat-dialog-content
  [formGroup]="authenticationForm"
  class="prompt__content"
>
  <mat-checkbox i18n class="connection__field" formControlName="notProtected">
    This connection is not protected by a password
  </mat-checkbox>
  <ng-container *ngIf="!authenticationForm.controls.notProtected.value">
    <mat-form-field class="connection__field">
      <mat-label i18n>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field class="connection__field">
      <mat-label i18n>Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>
    <mat-checkbox i18n class="connection__field" formControlName="remember">
      Remember Password
    </mat-checkbox>
  </ng-container>
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close i18n>Cancel</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    i18n
    (click)="connectClicked()"
  >
    Connect
  </button>
</div>
