<div>
  <div class="group-container">
    <mat-card
      *ngFor="let group of viewsGroups; let groupIndex = index; let last = last"
      class="group-card"
    >
      <mat-card-header>
        <mat-toolbar>
          <button
            mat-icon-button
            [disabled]="
              group.tabs.length === 0 ||
              group.tabs[group.currentTab].path === ''
            "
            i18n-matTooltip
            matTooltip="Go Up"
            (click)="goUp(group.tabs[group.currentTab])"
          >
            <mat-icon fontIcon="arrow_upward"></mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="group.tabs.length === 0"
            i18n-matTooltip
            matTooltip="Refresh"
            (click)="refresh(group.tabs[group.currentTab])"
          >
            <mat-icon fontIcon="refresh"></mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="group.tabs.length === 0"
            [matMenuTriggerFor]="clipboardViewMenu"
            i18n-matTooltip
            matTooltip="Clipboard"
          >
            <mat-icon
              fontIcon="content_paste"
              class="material-icons-outlined"
              [matBadge]="clipboard?.items?.length"
            ></mat-icon>
          </button>
          <mat-menu #clipboardViewMenu>
            <button
              mat-menu-item
              [disabled]="!clipboard?.items?.length"
              (click)="clipboardPaste(group.tabs[group.currentTab])"
            >
              <mat-icon fontIcon="content_paste"></mat-icon>
              <span i18n>Paste Here</span>
            </button>
            <button
              mat-menu-item
              [disabled]="!clipboard?.items?.length"
              (click)="clipboardClear()"
            >
              <mat-icon fontIcon="content_paste_off"></mat-icon>
              <span i18n>Discard</span>
            </button>
          </mat-menu>
          <button
            *ngIf="
              (group.tabs[group.currentTab]?.info | async)?.Features
                ?.CanHaveEmptyDirectories
            "
            mat-icon-button
            [disabled]="group.tabs.length === 0"
            (click)="createFolderClicked(group.tabs[group.currentTab])"
            i18n-matTooltip
            matTooltip="Create Folder"
          >
            <mat-icon
              fontIcon="create_new_folder"
              class="material-icons-outlined"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="uploadFileClicked(group.tabs[group.currentTab])"
            i18n-matTooltip
            matTooltip="Upload File"
          >
            <mat-icon
              fontIcon="upload_file"
              class="material-icons-outlined"
            ></mat-icon>
          </button>
          <div class="spacer"></div>
          <!-- 
            <button
              mat-icon-button
              [disabled]="viewsGroups.length > 2"
              i18n-matTooltip
              matTooltip="Sync"
            >
              <mat-icon fontIcon="sync"></mat-icon>
            </button>
          -->
          <button
            mat-icon-button
            [matMenuTriggerFor]="addViewMenu"
            i18n-matTooltip
            matTooltip="New Tab"
          >
            <mat-icon
              fontIcon="library_add"
              class="material-icons-outlined"
            ></mat-icon>
          </button>
          <mat-menu #addViewMenu>
            <button
              mat-menu-item
              *ngFor="let backend of backendList"
              (click)="tabAdd(group, backend)"
            >
              {{ backend }}
            </button>
            <button
              mat-menu-item
              *ngIf="localFsList.length >= 2; else onlyOneLocalFs"
              [matMenuTriggerFor]="localFsMenu"
              i18n
            >
              Local Filesystem
            </button>
            <ng-template #onlyOneLocalFs>
              <button mat-menu-item (click)="tabAdd(group, '')" i18n>
                Local Filesystem
              </button>
            </ng-template>
          </mat-menu>
          <mat-menu #localFsMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let localFs of localFsList"
              (click)="tabAdd(group, localFs)"
            >
              {{ localFs }}:\
            </button>
          </mat-menu>
          <button
            *ngIf="viewsGroups.length > 1"
            mat-icon-button
            i18n-matTooltip
            matTooltip="Close panel"
            (click)="splitRemove(groupIndex)"
          >
            <mat-icon
              fontIcon="tab_close"
              class="material-symbols-outlined"
            ></mat-icon>
          </button>
          <button
            *ngIf="last"
            mat-icon-button
            i18n-matTooltip
            matTooltip="Split panel"
            (click)="splitAdd()"
          >
            <mat-icon fontIcon="splitscreen" class="icon--rotate90"></mat-icon>
          </button>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="group.tabs.length === 0" class="new-group-hint" i18n>
          click
          <mat-icon
            fontIcon="library_add"
            class="material-icons-outlined"
          ></mat-icon>
          to open a backend
        </div>
        <mat-tab-group preserveContent [(selectedIndex)]="group.currentTab">
          <mat-tab *ngFor="let view of group.tabs; let tabIndex = index">
            <ng-template mat-tab-label>
              <ng-container *ngIf="view.backend as backend; else localBackend">
                {{ backend }}
              </ng-container>
              <ng-template #localBackend i18n> Local Filesystem </ng-template>
              <button
                mat-icon-button
                i18n-matTooltip
                matTooltip="Close"
                (click)="tabRemove(group, tabIndex)"
              >
                <mat-icon fontIcon="close"></mat-icon>
              </button>
            </ng-template>
            <app-explorer-viewer
              [(backend)]="view.backend"
              [(path)]="view.path"
              [info]="view.info | async"
              [actions]="view.actions"
              (clipboardAdded)="clipboardAdd($event)"
              #explorerViewer
            ></app-explorer-viewer>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
