<!-- <h2>Jobs</h2>
<p *ngFor="let kv of jobs | keyvalue">
  {{ kv.key }}:
  {{ kv.value | json }}
</p> -->

<mat-card class="list-container">
  <mat-list>
    <ng-container *ngFor="let job of jobs; let last = last">
      <mat-list-item *ngIf="jobInfos[job.id] | async as jobInfo">
        <div matListItemLine>
          <span>
            {{ jobInfo.id }}
            <!-- TODO: use summary -->
          </span>
          <span class="spacer"></span>
          <span class="job-action">
            <button mat-icon-button>
              <mat-icon
                fontIcon="more_vert"
                [matMenuTriggerFor]="jobMenu"
              ></mat-icon>
            </button>
            <mat-menu #jobMenu="matMenu">
              <button mat-menu-item>
                <mat-icon fontIcon="cancel"></mat-icon>
                <span i18n>Cancel</span>
              </button>
            </mat-menu>
            <button mat-icon-button>
              <mat-icon fontIcon="close"></mat-icon>
            </button>
          </span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-list>
</mat-card>
