<mat-card class="dashboard__card">
  <mat-card-title i18n>Backends</mat-card-title>
  <mat-card-content>
    <ng-container [ngSwitch]="backends?.length">
      <div *ngSwitchCase="undefined">...</div>
      <div *ngSwitchCase="null">
        <a
          mat-stroked-button
          color="primary"
          routerLink="/rclone/drive/new"
          i18n
        >
          Connect your first backend
        </a>
      </div>
      <div *ngSwitchCase="1">
        <a
          mat-stroked-button
          color="primary"
          routerLink="/rclone/explore"
          [queryParams]="{ drive: backends?.[0] }"
          i18n
        >
          Browse {{ backends?.[0] }}
        </a>
      </div>
      <div *ngSwitchDefault>
        <a mat-stroked-button color="primary" routerLink="/rclone/drive" i18n>
          Browse backends
        </a>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard__card">
  <mat-card-title i18n>Mountpoints</mat-card-title>
  <mat-card-content>
    <a mat-stroked-button color="primary" routerLink="/rclone/mount" i18n>
      Manage Mountpoints
    </a>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard__card">
  <mat-card-title i18n>Rclone</mat-card-title>
  <mat-card-content>
    <table *ngIf="version">
      <tr>
        <td i18n>Version</td>
        <td>
          {{ version.version }}
          <ng-container *ngIf="version.isBeta" i18n> (Beta) </ng-container>
          <ng-container *ngIf="version.isGit" i18n> (Git)</ng-container>
        </td>
      </tr>
      <tr>
        <td i18n>Platform</td>
        <td>{{ version.os }}-{{ version.arch }}</td>
      </tr>
      <tr>
        <td i18n>Go version</td>
        <td>{{ version.goVersion }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard__card">
  <mat-card-title i18n>WebUI</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td i18n>Version</td>
        <td>{{ webUIVersion }}</td>
      </tr>
      <tr>
        <td i18n>Environment</td>
        <td>{{ webUIEnv }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="dashboard__card">
  <mat-card-title i18n>Statistics</mat-card-title>
  <mat-card-content>
    <table *ngIf="stat$ | async as stat">
      <tr>
        <td i18n>Transferring</td>
        <td>
          {{ stat.transferring?.length ?? 0 }}
        </td>
      </tr>
      <tr>
        <td i18n>Transferred</td>
        <td>
          {{ stat.transfers }}
        </td>
      </tr>
      <tr>
        <td i18n>Speed</td>
        <td>
          {{ stat.speed }}
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
