:host {
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.dashboard__card-wrapper {
  display: inline-block;
  margin: 2em;
}

.dashboard__card {
  min-width: 20em;
  height: 100%;
  > mat-card-content {
    flex: 1;
  }
}
