<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>Backends</mat-card-title>
    </mat-card-header>

    <ng-container [ngSwitch]="backends?.length">
      <ng-container *ngSwitchCase="undefined">
        <mat-card-content> ... </mat-card-content>
      </ng-container>
      <ng-container *ngSwitchCase="null">
        <mat-card-content i18n> Connect your first backend </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" routerLink="/rclone/drive/new" i18n>
            New Backend
          </a>
        </mat-card-actions>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <mat-card-content i18n>
          Backend {{ backends?.[0] }} is connected
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-button
            color="primary"
            routerLink="/rclone/explore"
            [queryParams]="{ drive: backends?.[0] }"
            i18n
          >
            Browse
          </a>
        </mat-card-actions>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-card-content i18n>
          {{ backends?.length }} Backends are connected
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" routerLink="/rclone/drive" i18n>
            Browse
          </a>
        </mat-card-actions>
      </ng-container>
    </ng-container>
  </mat-card>
</div>

<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>Go to</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="goToPath"
          (keyup.enter)="GoToLink._elementRef.nativeElement.click()"
          required
          placeholder="path:to/dest"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        color="primary"
        routerLink="/rclone/explore"
        [disabled]="!goToPath"
        [queryParams]="{ path: goToPath }"
        i18n
        #GoToLink
      >
        Go
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>Mountpoints</mat-card-title>
    </mat-card-header>
    <mat-card-content i18n> Save your mountpoints here. </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="/rclone/mount" i18n> Manage </a>
    </mat-card-actions>
  </mat-card>
</div>

<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>Rclone</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table *ngIf="version">
        <tr>
          <td i18n>Version</td>
          <td>
            {{ version.version }}
            <ng-container *ngIf="version.isBeta" i18n> (Beta) </ng-container>
            <ng-container *ngIf="version.isGit" i18n> (Git)</ng-container>
          </td>
        </tr>
        <tr>
          <td i18n>Platform</td>
          <td>{{ version.os }}-{{ version.arch }}</td>
        </tr>
        <tr>
          <td i18n>Go version</td>
          <td>{{ version.goVersion }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>WebUI</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table>
        <tr>
          <td i18n>Version</td>
          <td>{{ webUIVersion }}</td>
        </tr>
        <tr>
          <td i18n>Environment</td>
          <td>{{ webUIEnv }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div class="dashboard__card-wrapper">
  <mat-card class="dashboard__card">
    <mat-card-header>
      <mat-card-title i18n>Statistics</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table *ngIf="stat$ | async as stat">
        <tr>
          <td i18n>Transferring</td>
          <td>
            {{ stat.transferring?.length ?? 0 }}
          </td>
        </tr>
        <tr>
          <td i18n>Transferred</td>
          <td>
            {{ stat.transfers }}
          </td>
        </tr>
        <tr>
          <td i18n>Speed</td>
          <td>
            {{ stat.speed }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
