<mat-toolbar color="primary">
  <button mat-icon-button i18n-matTooltip matTooltip="Menu">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <a
    mat-icon-button
    routerLink="/dashboard"
    i18n-matTooltip
    matTooltip="Dashboard"
  >
    <mat-icon fontIcon="dashboard"></mat-icon>
  </a>
  <a
    mat-icon-button
    routerLink="/rclone/drive"
    i18n-matTooltip
    matTooltip="Drives"
  >
    <mat-icon fontIcon="storage"></mat-icon>
  </a>
  <a
    mat-icon-button
    routerLink="/rclone/explore"
    i18n-matTooltip
    matTooltip="Browser"
  >
    <mat-icon fontIcon="folder"></mat-icon>
  </a>
  <span class="spacer"></span>
  <h1 i18n>Rclone WebUI</h1>
  <span class="spacer"></span>
  <button mat-icon-button i18n-matTooltip matTooltip="Select Language">
    <mat-icon fontIcon="translate"></mat-icon>
  </button>
  <button
    *ngIf="showRemoteSetting"
    mat-icon-button
    i18n-matTooltip
    matTooltip="Connections"
  >
    <mat-icon fontIcon="settings_remote"></mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
