.button-group {
  display: flex;
  margin: 3em;

  button {
    margin: 0 1em;
  }
}

.spacer {
  margin: 0 auto;
}

.list-container {
  margin: 3em auto;
  min-height: 20em;
  width: 80%;
  max-width: 50em;
}

.list-line {
  display: flex;

  .mount-info {
    display: flex;
    align-items: center;

    .mat-icon {
      margin: 0.5em;
    }
  }
}
