<div class="button-group">
  <button mat-raised-button color="primary" (click)="newMountClicked()">
    <mat-icon fontIcon="smb_share" class="material-symbols-outlined"></mat-icon>
    <span i18n>New MountPoint</span>
  </button>
  <div class="spacer"></div>

  <button
    mat-raised-button
    color="warn"
    [disabled]="!(settings$ | async)?.length"
  >
    <mat-icon fontIcon="cloud_off"></mat-icon>
    <span i18n>Unmount All</span>
  </button>
</div>
<mat-card class="list-container">
  <mat-list>
    <ng-container *ngFor="let setting of settings$ | async; let last = last">
      <mat-list-item>
        <div matListItemLine class="list-line">
          <span class="mount-info">
            {{ setting.Fs }}:
            <mat-icon
              fontIcon="sync_alt"
              class="material-symbols-outlined"
            ></mat-icon>
            {{ setting.MountPoint }}
          </span>
          <div class="spacer"></div>
          <span class="mount-action">
            <mat-slide-toggle
              color="accent"
              [checked]="setting.enabled"
              (change)="slideChanged(setting.id, $event.checked)"
            ></mat-slide-toggle>
            <button mat-icon-button [matMenuTriggerFor]="mountSettingMenu">
              <mat-icon fontIcon="more_vert"></mat-icon>
            </button>
            <mat-menu #mountSettingMenu="matMenu">
              <button mat-menu-item (click)="editClicked(setting)">
                <mat-icon fontIcon="edit"></mat-icon>
                <span i18n>Edit</span>
              </button>
              <button mat-menu-item (click)="deleteClicked(setting.id)">
                <mat-icon fontIcon="delete"></mat-icon>
                <span i18n>Delete</span>
              </button>
            </mat-menu>
          </span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-list>
</mat-card>
