<div class="button-group">
  <button mat-raised-button color="primary" (click)="newMountClicked()">
    <mat-icon fontIcon="smb_share" class="material-symbols-outlined"></mat-icon>
    <span i18n>New MountPoint</span>
  </button>
  <div class="spacer"></div>

  <button
    mat-raised-button
    color="warn"
    [disabled]="(settings$ | async)?.length"
  >
    <mat-icon fontIcon="cloud_off"></mat-icon>
    <span i18n>Unmount All</span>
  </button>
</div>
<mat-card class="list-container">
  <mat-list>
    <mat-list-item *ngFor="let setting of settings$ | async">
      <div matListItemLine class="list-line">
        <span class="mount-info">
          {{ setting.Fs }}:
          <mat-icon
            fontIcon="sync_alt"
            class="material-symbols-outlined"
          ></mat-icon>
          {{ setting.MountPoint }}
        </span>
        <div class="spacer"></div>
        <mat-slide-toggle
          color="accent"
          [checked]="setting.enabled"
          (change)="slideChanged(setting.id, $event.checked)"
        ></mat-slide-toggle>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
