<mat-card class="backend-info__container">
  <mat-card-title class="backend-info__title">
    {{ backendName }}
  </mat-card-title>
  <mat-card-subtitle class="backend-info__subtitle">
    {{ backend.type }}
  </mat-card-subtitle>
  <mat-card-content class="backend-info__content">
    <div *ngIf="usage === null" i18n>Not Measured</div>
    <mat-progress-spinner
      *ngIf="usage?.free && usage?.total"
      color="accent"
      mode="determinate"
      [value]="(1 - usage!.free! / usage!.total!) * 100"
    >
    </mat-progress-spinner>
    <ng-container *ngIf="usage">
      <table class="backend-info__description">
        <tbody>
          <tr *ngIf="usage.used">
            <td class="backend-info__field" i18n="Already Used Space">Used</td>
            <td class="backend-info__value">{{ usage.used | bytes }}</td>
          </tr>
          <tr *ngIf="usage.trashed">
            <td class="backend-info__field" i18n="Space used by trash">
              Trash
            </td>
            <td class="backend-info__value">{{ usage.trashed | bytes }}</td>
          </tr>
          <tr *ngIf="usage.other">
            <td class="backend-info__field" i18n="Space used by other">
              Other
            </td>
            <td class="backend-info__value">{{ usage.other | bytes }}</td>
          </tr>
          <tr *ngIf="usage.free">
            <td class="backend-info__field" i18n="Available Space">Free</td>
            <td class="backend-info__value">{{ usage.free | bytes }}</td>
          </tr>
          <tr *ngIf="usage.objects">
            <td class="backend-info__field" i18n="Count of Objects">Objects</td>
            <td class="backend-info__value">{{ usage.objects }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="browseClicked()">
      <ng-container i18n>Browse</ng-container>
      <mat-icon fontIcon="folder_open"></mat-icon>
    </button>
    <!--
      <button mat-button [matMenuTriggerFor]="actions" i18n>
        Actions
        <mat-icon fontIcon="expand_more"></mat-icon>
      </button>
      <mat-menu #actions="matMenu">
        <button i18n mat-menu-item>Mount</button>
        <button i18n mat-menu-item>Serve</button>
        <button i18n mat-menu-item color="danger">Delete</button>
      </mat-menu>
    -->
  </mat-card-actions>
</mat-card>
