:host {
  margin-top: 2em;
}

.backend__new {
  display: flex;

  a {
    margin-left: auto;
    margin-right: 20%;
  }
}

.backends__container {
  margin: 0 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.backends__item {
  width: 18em;
  display: inline-block;
  margin: 2em;
}
