<div *ngIf="connections$ | async as connections" class="connection__container">
  <div class="connection__list-container">
    <mat-action-list
      *ngIf="connections.length > 0; else no_connection"
      class="connection__list"
    >
      <ng-container *ngFor="let connection of connections; let last = last">
        <mat-divider></mat-divider>
        <mat-list-item
          (click)="connectSelected(connection)"
          (dblclick)="connectClicked(connection)"
        >
          <div class="connection__list-content">
            {{ connection.displayName }}
            <span class="spacer"></span>
            <span class="connection__list-action">
              <button
                mat-stroked-button
                color="primary"
                (click)="connectClicked(connection)"
                i18n
              >
                Connect
              </button>
              <button
                mat-stroked-button
                color="warn"
                (click)="connectDeleted(connection)"
                i18n
              >
                Delete
              </button>
            </span>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="last"></mat-divider>
      </ng-container>
    </mat-action-list>

    <ng-template #no_connection>
      <p i18n>No connections</p>
    </ng-template>
    <button i18n="create" mat-raised-button color="primary" routerLink="./new">
      New Connection
    </button>
  </div>
  <div>
    <app-connection-editor
      *ngIf="selectedConnection"
      [connection]="selectedConnection"
    ></app-connection-editor>
  </div>
</div>
