.connection__container {
  display: flex;
  flex-direction: column;
  > * {
    flex: 1;
  }
}

.connection__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.connection__list {
  max-width: 60em;
  width: 90%;
}

.connection__list-content {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.connection__list-action {
  button {
    margin: 0.5em;
  }
}

@media screen and (min-width: 800px) {
  .connection__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
