@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($angular-default-theme);

.dark-theme-basic {
  background-color: #424242;
  color: aliceblue;
}

.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);
}

// @media (prefers-color-scheme: dark) {
//   .auto-theme {
//     @extend .dark-theme;
//   }
// }
