<app-path-splitter
  [path]="path"
  (pathChange)="pathChange.emit($event)"
></app-path-splitter>
<ng-container *ngIf="children === undefined">
  <mat-spinner></mat-spinner>
</ng-container>
<ng-container *ngIf="children?.length === 0">
  <div i18n>Empty</div>
</ng-container>
<mat-selection-list class="explorer-view__container" #selectionList>
  <ng-container *ngFor="let item of children">
    <mat-list-option
      (click)="multiSelectMode ? selectionChanged() : itemOpened(item)"
      (contextmenu)="listOption.selected = true; itemRightClicked(item, $event)"
      [value]="item"
      [ngClass]="{
        'explorer-view__list-option--hide-checkbox': !multiSelectMode,
      }"
      #listOption
    >
      <mat-icon matListItemIcon [fontIcon]="item | fileIcon"></mat-icon>
      <!-- TODO: icon base on MIME type -->
      <div matListItemTitle>{{ item.Name }}</div>
      <div matListItemLine>{{ item.ModTime | date }}</div>
    </mat-list-option>
    <mat-divider></mat-divider>
  </ng-container>
  <div
    [matMenuTriggerFor]="contextMenu"
    [ngStyle]="{
      position: 'fixed',
      top: contextMenuPosition.y,
      left: contextMenuPosition.x,
    }"
  ></div>
</mat-selection-list>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item *ngIf="!multiSelectMode" (click)="multiSelectClicked()">
    <mat-icon fontIcon="check_box"></mat-icon>
    <span i18n>Multi-select</span>
  </button>
  <button mat-menu-item (click)="copyClicked()">
    <mat-icon fontIcon="file_copy"></mat-icon>
    <span i18n>Copy</span>
  </button>
  <button mat-menu-item (click)="moveClicked()">
    <mat-icon fontIcon="drive_file_move"></mat-icon>
    <span i18n>Move</span>
  </button>
  <button mat-menu-item (click)="deleteClicked()">
    <mat-icon fontIcon="delete"></mat-icon>
    <span i18n>Delete</span>
  </button>
  <button mat-menu-item (click)="renameClicked()">
    <mat-icon fontIcon="edit"></mat-icon>
    <span i18n>Rename</span>
  </button>
  <button
    *ngIf="info?.Features?.PublicLink"
    mat-menu-item
    (click)="generateLinkClicked()"
  >
    <mat-icon fontIcon="add_link"></mat-icon>
    <span i18n>Generate Link</span>
  </button>
  <button
    *ngIf="canDownload && !contextMenuItem?.IsDir"
    mat-menu-item
    (click)="downloadClicked()"
  >
    <mat-icon fontIcon="download"></mat-icon>
    <span i18n>Download</span>
  </button>
</mat-menu>
